<nav class="global-nav">
  <%= link_to "ðŸ“ æ–°è¦ç™»éŒ²", new_user_registration_path %>
  <%= link_to "ðŸ”‘ ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path %>
  <%= link_to "ðŸ“… ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼", events_path %>
  <%= link_to "ðŸ” è©³ç´°", "/events/show" %>
  <%= link_to "âž• äºˆå®šè¿½åŠ ", "/events/new" %>
</nav>

<%= render "shared/header" %>
