<div class="calendar-wrapper">

  <%# 左上メニューアイコン %>
  <%= render "shared/side_menu" %>

  <%# 月表示部分 %>
  <div class="month-header">
    <div class="month-nav">
      <%= link_to "＜", events_path(year: @first_day.prev_month.year, month: @first_day.prev_month.month) %>
    </div>
    <div class="month-text">
      <%= @first_day.year %>年 <%= @first_day.month %>月
    </div>
    <div class="month-nav">
      <%= link_to "＞", events_path(year: @first_day.next_month.year, month: @first_day.next_month.month) %>
    </div>
  </div>

  <%# カレンダー本体 %>
  <table class="calendar-table">
    <thead>
      <tr>
        <th>日</th><th>月</th><th>火</th><th>水</th><th>木</th><th>金</th><th>土</th>
      </tr>
    </thead>

    <tbody>
      <%
        cal_start = @first_day - @first_day.wday
        last_day  = @first_day.end_of_month
        cal_end   = last_day + (6 - last_day.wday)
        weeks     = (cal_start..cal_end).each_slice(7).to_a
      %>
      <% weeks.each do |week| %>
        <tr>
          <% week.each do |date| %>
            <td class="day-cell <%= 'other-month' if date.month != @month %>">
              <%= link_to day_events_path(date: date), class: "day-link" do %>
                <div class="day-number"><%= date.day %></div>
              <% end %>
              <% (@events_by_date[date] || []).first(2).each do |event| %>
                <div class="event-chip" style="background-color: <%= event.category.color_code %>">
                  <%= event.title %>
                </div>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<%# 右下の追加ボタン %>
<%= link_to "+", new_event_path, class: "floating-add-button" %>
